REDIS_HOST=example.com
REDIS_PORT=12345
REDIS_USER=Username
REDIS_PASSWORD=VerySecurePassword

NAVIENT_API_CERT_PASSPHRASE=xxxxxxxx

AWS_ACCESS_KEY_ID=xxxxxxxxxxxxxxxxxxxxxxxxx
AWS_SECRET_ACCESS_KEY=xxxxxxxxxxxxxxxxxxxxxxxxx
# AWS_SESSION_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxxx (Optional depending on type of credentials)